footer{
  padding: clamp(30px, 4.7059vw, 60px) 0 clamp(30px, 4.7059vw, 60px);
  border-top: 1px solid var(--br-a);
}

.h2o-footer{
  display: flex;
  flex-direction: column;
  grid-gap: clamp(10px, 1.6129vw, 20px);
  position: relative;


  &__top{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: clamp(10px, 1.6129vw, 20px);

    @include small-tablet{
      grid-template-columns: 1fr;
      justify-items: center;
    }

   
    .h2o-footer-nav{
      grid-column: 2;
      grid-row: 1/3;
      margin-left: clamp(20px, 3.5294vw, 45px);

      @include small-tablet{
        grid-column: initial;
        grid-row: initial;
        margin: 0;
      }

      @include mobile{
        margin-bottom: 15px;
      }
    }

    @include mobile{
      .h2o-pink-button{
        width: 100%;
        max-width: 345px;
      }
    }
  }

  &__wrapp{
    display: flex;
    align-items: center;
    grid-gap: clamp(20px, 3.5294vw, 45px);

    @include small-tablet{
      justify-content: center;
    }

    @include mobile{
      width: 100%;
      flex-direction: column;
    }
  }
  
  &__middle{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;
    padding-bottom: 10px;
  }

  &__deskr{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(10px, 1.5686vw, 20px);
    p{
      color: rgba(var(--cl-c),1.0);
      font-family: var(--font-family);
      font-weight: normal;
      font-size: 10px;
      line-height: 1.45;

      @include small-tablet{
        text-align: center;
      }
    }
  }

  .h2o-pay-list{
    padding-bottom: clamp(10px, 1.5686vw, 20px);
  }
}
