.h2o-loyalty-section{
    padding-bottom: clamp(30px, 3.1373vw, 40px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 10px;

        .h2o-main-top{
            padding-right: calc((clamp(35px, 3.1373vw, 40px) * 2) + 20px);

            @include small-tablet{
                padding-right: 0;
            }
        }
    }
}