.h2o-header{
  width: 100%;
  padding: 10px 0;
  background-color: rgba(var(--bg-i),1.0);
  position: fixed;
  top: 0;
  z-index: 80;

  // &::before{
  //   content: "";
  //   position: absolute;
  //   top: -1px;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 0;
  //   display: block;
  //   width: 100%;
  //   background: #18040d;
  // }

  &.sticky {
    // box-shadow: 0 11px 25px rgba(66, 140, 220, 0.631372549);
  }

  &__box{
    min-height: clamp(60px, 5.3333vw, 68px);
    display: flex;
    align-items: center;
    grid-gap: 20px;

    @include tablet{
      justify-content: space-between;
    }

    @include mobile{
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__btns{
    display: flex;
    align-items: center;
    grid-gap: 5px;

    @include small-tablet{
      button{
      min-width: 80px;
      padding: 5px 8px;
    }
  }

  @include mobile{
    button{
      width: 100%;
    }
  }
  }

  .h2o-burger{
    width: fit-content;
    padding: 0;
    @include for-tablet{
      display: none;
    }
  }

  

  @include tablet{
    .h2o-search-form{
      display: none;
    }

    .h2o-logo{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    
  }

  @include mobile{
    .h2o-logo{
      top: 0;
      transform: translate(-50%, 10%);

      i{
        width: 100px;
        height: 25px;
      }
    }
  }

  
}



