<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="Kent">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kent</title>

    <link rel="preload" href="static/fonts/Switzer-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Switzer-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Switzer-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Switzer-Semibold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/Switzer-Extrabold.woff" as="font" crossorigin="anonymous">
   
    <link rel="stylesheet" href="static/css/style.css">
</head>
