<header class="h2o-header">
  <div class="h2o-container h2o-container--mode">
    <div class="h2o-header__box">
        <button class="h2o-burger">
          <span class="h2o-burger__line"></span>
        </button>
        <a href="index.html" class="h2o-logo">
          <i class="h2o-icon-logo"></i>
        </a>

        <form action="#" class="h2o-search-form">
          <div class="h2o-search-form__box">
            <input type="text" class="h2o-search-form__input" placeholder="Поиск">
            <button class="h2o-search-form__button">
              <i class="h2o-icon-search"></i>
            </button>
          </div>
        </form>

        <div class="h2o-header__btns">
          <button class="h2o-transparent-button"><b>ВХОД</b></button>
          <button class="h2o-blue-button"><b>РЕГИСТРАЦИЯ</b></button>
        </div>
    </div>
  </div>
</header>
