.h2o-jackpot-slider{
    padding: 0 clamp(20px, 4.7059vw, 60px);
    border-radius: 6px;
    width: 100%;

    @include tablet{
        width: calc(100% + (var(--container-offset) * 2));
        padding: 0;
    }

    &__wrapp{
        @include tablet{
            padding: 0 calc(var(--container-offset) * 2) !important;
        }
    }

    .splide{
        &__pagination{
            bottom: -23px;
            &__page{
                background: rgba(var(--bg-a),1.0);
                opacity: 0.5;
                width: 6px;
                height: 6px;
                &.is-active{
                    opacity: 1;
                    transform: scale(1.2);
                }
            }
        }
        &__arrow{
            transition: all 0.3s linear;
            display: flex;
            align-items: center;
            justify-content: center;
            width: clamp(35px, 3.1373vw, 40px);
            height: clamp(35px, 3.1373vw, 40px);
            color: rgba(var(--cl-a),1.0);
            background: rgba(var(--bg-a),.3);
            border-radius: 2px;
            transform: skew(-10deg, 0) translateY(-50%);
            opacity: 1;

            svg{
                transform: skew(10deg);
                fill: rgba(var(--cl-a),1.0);
            }
            &:disabled{
                opacity: .5;
            }
            &:hover{
                background: rgba(var(--bg-a),.5);
            }

            &--prev{
                left: 0;

                svg{
                    transform: skew(10deg) rotate(180deg);
                }
            }

            &--next{
            right: 0;
        }
    }
    }
}