.h2o-game-card{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    width: 100%;

    &:hover{

        .h2o-game-card{

            &__inner{
                opacity: 1;
                visibility: visible;
            }

            &__label{
                opacity: 0;
                visibility: hidden;
            }

            &__total{
                opacity: 0;
                visibility: hidden;
            }

            &__box{
                &::before{
                    opacity: 0;
                }
            }
        }
    }

    &__box{
        height: 153px;
        position: relative;
        padding: 0 0 15px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        border-radius: 6px;
    }

    &__btn{
        display: flex;
        position: absolute;
        inset: 0;
        z-index: 10;
    }

    &__link{
        font-family: var(--font-family);
        color: rgba(var(--cl-a),1.0);
        text-decoration: underline;
        text-underline-offset: 3px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
  
    }

    &__inner{
        position: absolute;
        inset: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-gap: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s linear;

        &::before{
            content: '';
            transition: all 0.2s linear;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 108%;
            background: var(--gr-d);
        }
    }

    &__image{
        position: absolute;
        inset: 0;

        img,picture{
            width: 100%;
            height: 100%;
        }
    }

    &__wrapp{
        display: flex;
        flex-direction: column;
    }

    &__title{
        font-family: var(--font-family);
        color: rgba(var(--cl-a),1.0);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.45;
        overflow: hidden;
        text-overflow: ellipsis;

        @include mobile{
            white-space: nowrap;
        }
    }

    &__subtitle{
        font-family: var(--font-family);
        color: rgba(var(--cl-a),.6);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.45;
        overflow: hidden;
        text-overflow: ellipsis;

        @include mobile{
            white-space: nowrap;
        }
    }
}