.h2o-winner-card{
    position: relative;
    margin-bottom: 10px;

    &:hover{
        .h2o-winner-card__title{
                text-decoration-color: rgba(var(--cl-a),1.0);
            }
        }
    
    &__btn{
        position: absolute;
        inset: 0;
        z-index: 10;

        
    }

    &__inner{
        display: flex;
        align-items: center;
        grid-gap: 10px;
    }

    &__user{
        display: flex;
        align-items: center;
        grid-gap: 10px;
        grid-row: 2;
        grid-column: 2;
        padding-bottom: 5px;
    }

    &__box{
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        grid-gap: 4px clamp(10px, 1.1765vw, 15px);
    }

    &__icon{
        width: 55px;
        height: 55px;
        border-radius: 10px;
        overflow: hidden;
        grid-column: 1;
        grid-row: 1/3;

        img,picture{
            width: 100%;
            height: 100%;
        }

        @include mobile{
            width: clamp(40px, 13.285vw, 55px);
            height: clamp(40px, 13.285vw, 55px);
        }
    }

    &__inner{
        grid-column: 3;
        grid-row: 1/3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-gap: 10px;
    }

    &__currency{
    font-weight: 700;
    font-size: clamp(16px, 1.5686vw, 20px);
    line-height: 1.4;
    white-space: nowrap;
    font-family: var(--font-family);
    font-style: italic;
    color: rgba(var(--cl-a),1.0);

    @include mobile{
        font-size: clamp(14px, 3.865vw, 16px);
    }
    }

    &__name{
        min-width: 0;
        font-size: clamp(14px, 1.2549vw, 16px);
        line-height: normal;
        font-family: var(--font-family);
        font-style: normal;
        color: rgba(var(--cl-a),1.0);
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__title{
        min-width: 0;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font-style: italic;
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-weight: 700;
        font-size: clamp(14px, 3.865vw, 16px);
        line-height: 1.45;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: transparent;
        transition: all 0.3s linear;
        padding-top: 2px;
    }
}