.h2o-accordion{
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

    &__button{
        width: 100%;
        padding: 10px 15px;
        background: var(--gr-f);
        border: solid 1px var(--br-g);
        border-radius: 6px;
        display: flex;
        grid-gap: 5px;
        justify-content: space-between;
        align-items: center;
        transition: all .3s;
  
        &.active{
            .h2o-accordion__icon{
                rotate: 135deg;
                top: 0;
            }
            border-radius: 6px 6px 0 0;
        }

        &:hover{
            opacity: .8;
        }
    }

    &__icon{
        width: 10px;
        height: 10px;
        border-bottom: 2px solid var(--br-c);
        border-left: 2px solid var(--br-c);
        transition: all ease .3s;
        position: relative;
        top: -2px;
        rotate: -45deg;
    }

    &__content{
     width: 100%;   
     border-radius: 0 0 6px 6px;
     background-color: rgba(var(--bg-e), 0.09);
    }

    &__box{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        padding: 15px;
        margin-bottom: 1px;
    }

    &__title{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        text-align: start;
    }

    p{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        font-family: var(--font-family);
        color: rgba(var(--cl-a),1.0);
    }
}