.h2o-bonus-slider {
  width: 100%;
  overflow: hidden;
  border-radius: 6px;

    @include for-small-tablet{
      max-width: calc((var(--content-width) / 2));
    }

  &--mode{
    @include small-tablet{
      display: none;
    }
  }

  @include small-tablet{
    overflow: initial;
    width: calc(100% + (var(--container-offset) * 2));
    margin-left: calc(var(--container-offset) * -1);
}

&__wrapp{
    @include small-tablet{
        padding: 0 var(--container-offset) !important;
    }
}

  .splide{
    &__arrows{
        display: flex;
        grid-gap: 5px;
        position: absolute;
        bottom: 25px;
        right: 20px;
    }

    &__pagination{
      bottom: -15px;
      &__page{
          background: rgba(var(--bg-a),1.0);
          opacity: 0.5;
          width: 6px;
          height: 6px;
          &.is-active{
              opacity: 1;
              transform: scale(1.2);
          }
      }


  }

    &__arrow{
        transition: all 0.3s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(35px, 3.1373vw, 40px);
        height: clamp(35px, 3.1373vw, 40px);
        color: rgba(var(--cl-a),1.0);
        background-color: rgba(var(--bg-a),.1);
        border-radius: 2px;
        transform: skew(-10deg, 0);
        opacity: 1;
        position: static;

        svg{
            transform: skew(10deg);
            fill: rgba(var(--cl-a),1.0);
        }
        &:disabled{
            opacity: .5;
        }
        &:hover{
            background: rgba(var(--bg-a),.2);
        }

        &--prev{
            left: 0;

            svg{
                transform: skew(10deg) rotate(180deg);
            }
        }

        &--next{
        right: 0;
    }
}
}
}
