.h2o-slide-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 140px;   
    padding: 55px 20px 10px;
    text-align: left;
    overflow: hidden;
    border-radius: 6px;
  
  
    &__btn {
      position: absolute;
      inset: 0;
      z-index: 5;
    }

    &__top{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        height: 35px;
        padding: 0 20px 0 15px;
        background: rgba(var(--bg-e),1.0);
        transform: skew(-30deg);
        border-right: 2px solid var(--br-d);
        border-bottom: 2px solid var(--br-d);
        border-radius: 0 4px 4px 0;

        &::before{
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            width: 40px;
            left: -20px;
            background: rgba(var(--bg-e),1.0);
            pointer-events: none;
        }
    }

    &__title{
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        word-break: break-word;
        display: block;
        transform: skew(30deg);
        font-size: 14px;
        line-height: 35px;
        font-weight: 600;
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
    }
    
    &__box{
        display: flex;
        flex-direction: column;
    }

    &__text{
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        z-index: 2;
        max-width: 280px;
        padding: 0 10px 0 0;
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-weight: 700;
        font-size: clamp(18px, 1.8824vw, 24px);
        font-style: italic;
        line-height: 1.15; 

        &--red{
            color:  rgba(var(--cl-d),1.0);
        }
    }


    &__image {
        position: absolute;
        z-index: 0;
        display: flex;
        align-items: flex-end;
        bottom: 0;
        right: 120px;
       
        img,
        picture {
            max-width: 230px;
            max-height: 130px;
            width: 100%;
            height: 100%;
        }

        @include tablet{
            right: 20px;
        }
        @include ios{
            right: 0;
        }

      }
    
      &__bg {
        position: absolute;
        inset: 0;
        z-index: -1;
    
        img,
        picture {
          width: 100%;
          height: 100%;
        }
      }
}